body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 60px auto;
  max-width: 800px;
}
a {
  text-decoration: none;
}

h2 {
  font-size: 28px;
  margin-bottom: 0px;
}

.interface-body {
  border: 1px solid rgb(216, 216, 216);
  border-radius: 10px;
  margin-bottom: 5px;
}

.search-display {
  padding: 20px 20px;
}

.content-space {
  margin-top: 20px;
}

.degree {
  font-size: 10px;
  font-weight: bold;
  position: relative;
  top: -18px;
}

.summary {
  font-size: 16px;
}

.bottom-display {
  padding: 50px 10px;
}

.weather-description .active {
  color: black;
  cursor: default;
}

.wrapper {
  font-size: 10px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 13px;
  opacity: 0.6;
}

.weather-forecast-temp {
  font-size: 10px;
}

.weather-forecast-temp-min {
  opacity: 0.5;
}

#forecast-description {
  text-transform: capitalize;
  font-size: 18px;
}

#forecast-temp {
  font-size: 36px;
}
